.slider__track {
  width: 100%;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  height: 10px;
}

.slider__track-tip {
  position: absolute;
  top: 18px;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background-color: rgba(15, 120, 0, 0.2);
}

.slider__track-max {
  right: -2px;
}

.slider__track-min {
  left: -2px;
}